$primary-head: #3f51b5;
$primary-head-hover : #0821A9;
$primary-sub-head: #FFFFFF;
$bg-color: #f5f5f5;
$white: #FFFFFF;
$common-font-color: #5a5a5a;
$light-gray : #eeeeee;
$purple: #9c27b0;
$light-blue: #2196F3;
$head-bg-color: rgba(0, 0, 0, 0.1);
$box-shadow-light: 0 1px 2px rgba(0,0,0,0.15);
$box-shadow: 0 2px 6px rgba(0,0,0,.2);	
$transp-bg-color: rgba(255,255,255,0.8);
$orange : #FF9000;
$green : #4CAF50;
$yellow: #FFFF00;
$gray : #FBFBFB;
$light-gray: #E0E0E0;

